* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(19, 27, 73);
}

.heart {
    width: 100px;
    height: 100px;
    position: relative;
    transform: rotate(45deg);
    background-color: rgb(243, 17, 17);
    box-shadow: -10px -10px 125px 70px #f20044;
    animation: heart 1s  infinite;
}

.heart::after {
    content: "";
    top: -50%;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(243, 17, 17);
}


.heart::before {
    content: "";
    position: absolute;
    right: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(243, 17, 17);
}

@keyframes heart {
    0% {
        transform: rotate(45deg)  scale(1);
    } 
    100% {
        transform:  rotate(45deg)  scale(1.2);
        box-shadow: -10px -5px 125px 70px #ff0303;

    }
}

